# audio stuff
ffmpeg
pydub
sox
numpy

# flask
Flask
itsdangerous
Werkzeug
Jinja2
MarkupSafe
flask-login
shortuuid

# db
Flask-SQLAlchemy
Flask-Migrate
sqlalchemy
wheel
psycopg2

# aws
boto3
awscli

# other
click==7.1.2
python-dotenv==0.15.0





