.outerDiv {
  position: relative;
}

.cursor {
  height: 500px;
  margin-top: 22px;
  margin-left: 292px;
  position: absolute;
  z-index: 10;
}

.startLine {
  margin-top: 80px;
  margin-left: 8px;
  height: 470px;
  border-left: 2px solid red;
}

.point {
  margin-top: 75px;
  /* margin-left: -1px; */
  border-radius: 2px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid red;
  float: right;
  transform: rotate(90deg);
}
